---
import Layout from "../layouts/Layout.astro";
import Body from "./Body.astro";
import Navbar from "./Navbar.astro";
import Sidebar from "./Sidebar.astro";
---

<style is:global>
  body {
    transition: translate 0.3s ease;
  }
  .tab-active{
    @apply bg-accent text-accent-content
  }
</style>
  <script>
	  const checkMobileDevice = () => {
		  if (/Mobi|Android/i.test(navigator.userAgent) || window.innerWidth < 768) {
			  document.body.innerHTML = "<div class='w-full fixed top-0 left-0 flex justify-center p-10'>Mobile device unsupported</div>";
			  throw new Error("Mobile device unsupported");
		  }
	  }
	  checkMobileDevice();
  </script>
<Layout title="Komponen UI">
  <Navbar />
  <Sidebar />
  <Body/>
</Layout>
