---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
	<script src="https://unpkg.com/prettier@3.3.3/standalone.js"></script>
	<script src="https://unpkg.com/prettier@3.3.3/plugins/html.js"></script>

	<!-- Prism.js for syntax highlighting -->
	<script src="../script/prism.js"></script>
	<link rel="stylesheet" href="../../src/style/prism.css">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="ml-64">
    <slot />
  </body>
</html>
